NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_MOODLE_BASE_URL=http://localhost:8080
MOODLE_BASE_URL=http://localhost:8080
MOODLE_WS_TOKEN=
NEXT_PUBLIC_PAYMENT_PROVIDER=payphone
PAYPHONE_TOKEN=
KUSHKI_MERCHANT_ID=
STRIPE_SECRET_KEY=
RESEND_API_KEY=
RESEND_FROM_EMAIL=UniversityService <onboarding@resend.dev>
